.hero {
  max-width: 900px;
  margin: auto;
  text-align: left;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero h1 span {
  color: #2563eb;
}

.subtitle {
  font-size: 18px;
  color: #4b5563;
  margin-bottom: 16px;
}

.description {
  font-size: 16px;
  color: #6b7280;
  max-width: 700px;
}

.hero-buttons {
  margin-top: 30px;
}

.primary-btn {
  background: #2563eb;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  text-decoration: none;
  margin-right: 12px;
}

.secondary-btn {
  border: 1px solid #2563eb;
  color: #2563eb;
  padding: 12px 20px;
  border-radius: 6px;
  text-decoration: none;
}
