.header {
  height: 60px;
  background-color: #1f2428;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}


.header-title {
  margin: 0;
  font-weight: 600;
}

.header-linkedin {
  color: #0a66c2;
  font-weight: 600;
  text-decoration: none;
}

.header-linkedin:hover {
  text-decoration: underline;
}
.footer {
  background-color: #1f2428;
  color: white;
  padding: 16px;
  text-align: center;
}

.footer a {
  color: #0a66c2;
  text-decoration: none;
  font-weight: 600;
}
